extends layout

block content

  div
    img(src="/images/profile.jpg" class="img-responsive center-block top-buffer img-thumbnail")
    div(style="max-width: 600px;").center-block
      p.text-justify
      | If not made completely obvious by my website, my name is Irving Arredondo and I’m a recent graduate 
      | from the greatest university of the world, The University of Texas. I’m currently employed by the 
      | most innovated HR and Financial Management software company in the game, Workday.
      br
      br
      | First and foremost, I’m a sports fanatic and a music lover. I live and die by the San Antonio Spurs 
      | and Dallas Cowboys. Of course, I also support my Longhorns in anything they do, from football to 
      | Quidditch. My favorite activity is attending music festivals and discovering bands that no one knows 
      | about yet. It saddens me to think that there is amazing music out there that I have not yet discovered!
      br
      br
      | Second, I’m a passionate software engineer. If there’s something that I can’t solve, it will haunt 
      | my head until I can find the answer. I love creating new things, especially products that will help 
      | people, or make theirs lives easier. I’m a quick learner, and can handle any amount of pressure. 
      | When the game is on the line, and the team needs a basket to win, I want the ball to be in my hands, 
      | because I know I can get the job done.
      br
      br
      | Third, I’m a family man. Nothing means more to me in life than my family.
      br
      br
      | I don’t want this to get too wordy, so if you have questions about me, my projects, or simply 
      | want to have a debate on why the San Antonio Spurs are the greatest basketball team of all time, 
      | feel free to contact me!


  script.
    $(document).ready(function(){
      var html_navbar_link = $('#bs-example-navbar-collapse-1 a:contains("About")');
      $(html_navbar_link).parent().addClass("active");
      $(html_navbar_link).append("<span class='sr-only'>(current)</span>");
    });