<!DOCTYPE html>
<html>
    {{> _head }}
<body>
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="http://i.imgur.com/pNIiObr.gif" class="center-block">
            <h1 style="color: red;">{{message}}</h1>
            <h2 style="color: red;">{{error.status}}</h2>
        </div>
        <pre>{{error.stack}}</pre>
    </div>
</body>
</html>