doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='//www.parsecdn.com/js/parse-1.5.0.min.js')

  body
    // BEGIN NAVBAR
    div.container
      nav.navbar.navbar-default.navbar-fixed-top
        div.container-fluid
          // Brand and toggle get grouped for better mobile display
          div.navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              | 
              span.icon-bar
              | 
              span.icon-bar
              | 
              span.icon-bar
            |       
            a.navbar-brand(href='/') Irving Arredondo
          // Collect the nav links, forms, and other content for toggling
          div#bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/about') About 
              |         
              li
                a(href='/portfolio') Portfolio
              | 
              li
                a(href='/contact') Contact
              | 
              li
                a(href='https://dl.dropboxusercontent.com/u/94217607/resume.pdf', target="blank") Resume
      // END NAVBAR
    
    block content