<!DOCTYPE html>
<html>

{{!-- grab head partial --}}
{{> _head}}

<body>
    {{!-- grab navbar partial --}}
    {{> _navbar}}
    <div>
        <div style="padding-top: 10px;" class="row">
            <div class="col-md-12">
                <button id="newGame" type="submit" class="btn btn-default">New Game</button>
            </div>
        </div>
        <div style="padding-top: 10px;" class="row">
            <div class="col-md-12">
                <input id="password" type="password" placeholder="Password" class="center-block">
            </div>
        </div>
        <div style="padding-top: 50px;" class="row">
            <div class="col-md-6">
                <h1 class="text-center">Irving</h1>
                <h1 id="irvScore" style="color: red;" class="text-center">0</h1>
                    <button id="irvButton" type="submit" class="btn btn-default center-block">Won</button>
            </div>
            <div class="col-md-6">
                <h1 class="text-center">Jonathan</h1>
                <h1 id="jonScore" style="color: red;" class="text-center">0</h1>
                    <button id="jonButton" type="submit" class="btn btn-default center-block">Won</button>
            </div>
        </div>
    </div>
    
    <script>
        Parse.initialize("khs9Kotg2tI6PFaKNpCV1GyIdYBrBBASppPre0mP", "gbmQ0UugkjEUU7rVSFCM0lJP4LPCIKwq6HlvTOCN");
        var query = new Parse.Query("Score");
        query.find({
            success: function(results) {
                // get the Score object
                var object = results[0];
                // update the headers with the correct score
                var player1_score = object.get("irving");
                var player2_score = object.get("jonathan");
                $("#irvScore").text(player1_score);
                $("#jonScore").text(player2_score);
            },

            error: function(error) {
                console.log("Could not find class.")
            }
        });

        $("#newGame").click(function(){
            var Score = Parse.Object.extend("Score");
            var score = new Score();

            // save irving row
            score.save({irving: 0});

            // save jonathan row
            score.save({jonathan: 0});
            alert("New Game Create");
            console.log("Created new game");
        });

        $("#irvButton").click(function(){
            var pass_value = $("#password").val();
            if(pass_value !== "hello"){
                alert("wrong password");
                return;
            }
            var query = new Parse.Query("Score");
            query.find({
                success: function(results) {
                // get the Score object
                var object = results[0];
                // update the headers with the correct score
                var player_score = object.get("irving");
                $("#irvScore").text(player_score + 1);
                object.increment("irving", 1);
                object.save();
                },

                error: function(error) {
                    console.log("Could not find class.")
                }
            });
        });

        $("#jonButton").click(function(){
            var pass_value = $("#password").val();
            if(pass_value !== "hello"){
                alert("wrong password");
                return;
            }
            var query = new Parse.Query("Score");
            query.find({
                success: function(results) {
                // get the Score object
                var object = results[0];
                // update the headers with the correct score
                var player_score = object.get("jonathan");
                $("#irvScore").text(player_score + 1);
                object.increment("jonathan", 1);
                object.save();
                },
                error: function(error) {
                    console.log("Could not find class.")
                }
            });
        });
    </script>
</body>

</html>