extends layout

block content


  div(style="max-width: 800px;").container
    div.row
      div.panel.panel-danger.top-buffer
        div.panel-heading
          h3.panel-title
          | 
          a(href="https://fast-ravine-4145.herokuapp.com/" target="_blank") Calorie Buddy
        div.panel-body
          p  
          | From March 2014 through August 2014, I experience a radical transformation.
          | I lost 80 pounds through dieting and daily exercise. As someone who has been overweight
          | most of his life, I can say that this is the biggest accomplishment of my life thus far.
          | Now I want to maintain this lifestyle, and that requires continuing to exercise and of course,
          | maintaining a healthy diet. This webapp helps me calculate the total calorie value of my meal.
          | Right now the values are hardcoded, but my vision includes expanding the webapp to have users
          | and allowing those users to enter their own entries. Code for the site can be found at this 
          a(href="https://github.com/iga82/CalorieBuddy" target="_blank") Git 
          | repo.


  div(style="max-width: 800px;").container
    div.row
      div.panel.panel-danger.top-buffer
        div.panel-heading
          h3.panel-title
          | 
          a(href="irvarredondo.com" target="_blank") irvarredondo.com
        div.panel-body
          p
            a(href="http://irving-a.appspot.com/" target="_blank")
              h4 Version 1
            | This is the first version of my website that is still being hosted by the google app engine.
            | The original design looked like the following
            ul(style="max-width: 300px;").list-group.center-block.text-center
              li.list-group-item
                a(href="https://dl.dropboxusercontent.com/u/94217607/oldDesign/home.pdf" target="_blank") Home
              li.list-group-item
                a(href="https://dl.dropboxusercontent.com/u/94217607/oldDesign/contact.pdf" target="_blank") Contact
              li.list-group-item
                a(href="https://dl.dropboxusercontent.com/u/94217607/oldDesign/portfolio.pdf" target="_blank") Portfolio  
            | It was update to use Twitter Bootstrap v2, giving it a more simple design with graphics designed by
            | a friend. Code for the website can be found at this 
            a(href="https://github.com/iga82/irvarredondo" target="_blank") Git 
            | repo.
            br
            br
            h4 Version 2
            | The current website hosted at irvarredondo.com is the second version of my website. It is now backed by
            | Node.js and is hosted by Heroku. I've kept the same design for the most part but have upgraded
            | to Twitter Bootstrap v3, which now makes it easier to make the website mobile friendly. Code for the
            | website can be found at this 
            a(href="https://github.com/iga82/irvarredondo_v2" target="_blank") Git 
            | repo.
            br
            br
            a(href="https://sheltered-ocean-2720.herokuapp.com/" target="_blank")
              h4 Version 3
            | This website is still in progress, but I'm taking a dramatic and drastic change in terms
            | of the design of the website. I want it to include more animations and make it more interactive 
            | with to user. Thus far I have only created the home page. Code for the website can be found at this 
            a(href="https://github.com/iga82/irvarredondo_v3" target="_blank") Git 
            | repo.

  div(style="max-width: 800px;").container
    div.row
      div.panel.panel-danger.top-buffer
        div.panel-heading
          h3.panel-title Lift Buddy
        div.panel-body
          p 
          | Life Buddy is an Android application that seeks to solve the problem of the lack of a workout app
          | on Android that has a simple user interface. I'm creating the app with two co-workers, one with 
          | Android experience and the other with backend experience. We've tried and installed multiple workout apps, 
          | and have not found anything that lives to the UI experience that an iOS app provides. We have finished
          | the Android UI, but have run into problems trying to save the workout logs to a cloud storage. We've
          | just discovered Couchbase, which seems to handle our use case. Our current efforts are dedicated to
          | building our Couchbase server through Node JS. The Git repo is currently private.

  script.
    $(document).ready(function(){
      var html_navbar_link = $('#bs-example-navbar-collapse-1 a:contains("Portfolio")');
      $(html_navbar_link).parent().addClass("active");
      $(html_navbar_link).append("<span class='sr-only'>(current)</span>");
    });