<!DOCTYPE html>
<html>

{{!-- grab head partial --}}
{{> _head}}

<body>
    {{!-- grab navbar partial --}}
    {{> _navbar}}

    {{!-- home --}}
    <div id="home-div">
            <img src="/images/irvingHome.png" class="img-responsive center-block">
    </div>

    {{!-- about partial --}}
    {{> _about}}

    {{!-- portfolio partial --}}
    {{> _portfolio}}

    {{!-- contact partial --}}
    {{> _contact}}

</body>

</html>